@using DataAgenda.Modelo;
@model List<Contacto>
@{
    ViewBag.Title = "Index";
}
<img src="~/FotosUsuarios/@ViewBag.FotoUsuario" width="120" style="float:right">

<a href="/Contacto/VistaCrearContacto">Crear nuevo contacto</a>

<h2 style="text-align:center">Tus contactos</h2>

Tienes @Model.Count contactos almacenados

<form method="get" action="/Contacto/BuscarNombre">
    <input class="form-control" name="Buscador" placeholder="Nombre" />
    <input type="submit" value="Buscar" class="btn btn-dark">
</form>

<hr />
<table>
    <tbody>
        @foreach (Contacto contacto in Model)
        {
            <tr>
                <td style="width: 190px;">
                    <div>
                        <img src="~/FotosContactos/@contacto.Foto" style="height:170px; width:170px" />
                    </div>
                </td>
                <td style="width: 250px;">
                    <div>
                        <div class="card-body">
                            <p>Nombre: @contacto.Nombre @contacto.ApPaterno @contacto.ApMaterno</p>
                            @{
                                DateTime fechaNacimiento = DateTime.Parse(contacto.Edad);
                                int edad = DateTime.Today.Year - fechaNacimiento.Year;

                                if (DateTime.Today < fechaNacimiento.AddYears(edad))
                                {
                                    edad--;
                                }
                            }
                            @*<p>Edad: @(DateTime.Today- DateTime.Parse(contacto.Edad))</p>*@
                            <p>Edad: @(edad)</p>
                            @foreach (Intermedio intermedio in contacto.Intermedio)
                            {
                                <p>@intermedio.MediosDeContacto.Nombre: @intermedio.informacion</p>
                            }
                        </div>
                    </div>
                </td>
                <td style="width: 100px;">
                    @if (fechaNacimiento.Day == DateTime.Today.Day && fechaNacimiento.Month == DateTime.Today.Month)
                    {
                        <div>
                            <img src="~/FotosContactos/cake.png" style="height:100px; width:100px" />
                        </div>
                    }

                </td>
                <td style="width: 80px; text-align:center"><a href="/Contacto/VistaActualizarContacto/?ID=@contacto.Id" class="btn btn-primary">Editar</a></td>
                <td style="width: 100px; text-align: center"><a href="/Contacto/EliminarContacto/?ID=@contacto.Id" class="btn btn-danger">Eliminar</a></td>
                <td style="width: 190px; text-align: center"><a href="/Contacto/VistaActualizarMedioContacto/?ID=@contacto.Id" class="btn btn-secondary">Editar Medio Contacto</a></td>
            </tr>
        }
    </tbody>
</table>


